.header {
    height: 100px;
    margin-bottom: 5px;
    border-radius: 20px;
    background: rgba(25,91,153,1);
    background: -moz-linear-gradient(left, rgba(25,91,153,1) 0%, rgba(206,222,239,1) 84%, rgba(240,247,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,91,153,1)), color-stop(84%, rgba(206,222,239,1)), color-stop(100%, rgba(240,247,255,1)));
    background: -webkit-linear-gradient(left, rgba(25,91,153,1) 0%, rgba(206,222,239,1) 84%, rgba(240,247,255,1) 100%);
    background: -o-linear-gradient(left, rgba(25,91,153,1) 0%, rgba(206,222,239,1) 84%, rgba(240,247,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,91,153,1) 0%, rgba(206,222,239,1) 84%, rgba(240,247,255,1) 100%);
    background: linear-gradient(to right, rgba(25,91,153,1) 0%, rgba(206,222,239,1) 84%, rgba(240,247,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195b99', endColorstr='#f0f7ff', GradientType=1 );
}