* {
	box-sizing: border-box;
}
body {
	/* background-image: url(/images/45.svg); */
	/* background-image: url(/images/2.jpg); */
    background: rgba(205,219,250,1);
	background: -moz-linear-gradient(left, rgba(205,219,250,1) 0%, rgba(205,219,250,1) 34%, rgba(96,129,222,1) 98%, rgba(96,129,222,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(205,219,250,1)), color-stop(34%, rgba(205,219,250,1)), color-stop(98%, rgba(96,129,222,1)), color-stop(100%, rgba(96,129,222,1)));
	background: -webkit-linear-gradient(left, rgba(205,219,250,1) 0%, rgba(205,219,250,1) 34%, rgba(96,129,222,1) 98%, rgba(96,129,222,1) 100%);
	background: -o-linear-gradient(left, rgba(205,219,250,1) 0%, rgba(205,219,250,1) 34%, rgba(96,129,222,1) 98%, rgba(96,129,222,1) 100%);
	background: -ms-linear-gradient(left, rgba(205,219,250,1) 0%, rgba(205,219,250,1) 34%, rgba(96,129,222,1) 98%, rgba(96,129,222,1) 100%);
	background: linear-gradient(to right, rgba(205,219,250,1) 0%, rgba(205,219,250,1) 34%, rgba(96,129,222,1) 98%, rgba(96,129,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cddbfa', endColorstr='#6081de', GradientType=1 );
}

#Layer_1 {
	position: absolute;
	
}
.container {
	width: 1200px;
	margin:0 auto;
}
.row:after {
	display: block;
	clear: both;
	content:"";
}
.col-30 {
	width: 28%;
	
}
.col-40 {
	width: 35%;
	margin-left:50px;
	
}
.col-50 {
	width: 48%;
	float: left;
}

.col-60 {
	width: 55%;
	/* border-left: 2px solid blueviolet; */
	margin-right:50px;
}
.col-70 {
	width: 68%;
	
}
.right {
	float: right;
}


